<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header.ejs') %>
</head>
<body>
    <div class="container">
        <h1>About <a href="/">SoccerScribe</a></h1>
        <p>Welcome to SoccerScribe, a web application where <a href="https://www.linkedin.com/in/devansh-khandelwal-31b131213">I</a>, Devansh Khandelwal, share my detailed reviews and analyses of soccer matches.</p>
        
        <h2>Motivation</h2>
        <p>SoccerScribe was created out of my passion for soccer and the desire to document my thoughts on matches over time. This platform allows me to see how my views evolve and to share these insights with other soccer enthusiasts.</p>
        
        <h2>Technologies Used</h2>
        <p>SoccerScribe is built using a robust stack of modern web technologies:</p>
        <ul>
            <li><strong>Backend:</strong> Node.js + Express.js.</li>
            <li><strong>Database:</strong> PostgreSQL</li>
            <li><strong>Frontend:</strong> EJS</li>
            <li><strong>Styling:</strong> CSS</li>
            <li><strong>Data Handling:</strong> Axios for making asynchronous API requests.</li>
            <li><strong>Optimizations:</strong> Client-side image caching for better performance.</li>
        </ul>

        <h2>Future Improvements</h2>
        <p>As SoccerScribe continues to grow, I plan to implement several new features and improvements:</p>
        <ul>
            <li>Add support for user registration and management, allowing more users to join the platform and share their reviews.</li>
            <li>Enhance the user interface and user experience with more interactive and dynamic elements.</li>
        </ul>
        <p>In the short term, my goal is to get 3 writers to use this platform who are passionate about soccer.</p>
        
        <h2>Contact</h2>
        <p>If you have any questions, suggestions, or feedback, feel free to reach out to me on <a href="https://www.linkedin.com/in/devansh-khandelwal-31b131213">LinkedIn</a>. I would love to hear from you!</p>
        
        <a href="/" class="back-btn">Back to Reviews</a>
    </div>

    <%- include('partials/footer.ejs') %>
</body>
</html>
